// Logo header
.logo {
  font-family: "Raleway", sans-serif;
  font-style: Bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  padding: 0;
}

.logo-header {
  color: var(--main-color);
}
// Logo footer

.logo-footer {
  color: var(--accent-color);
}
