.features-list {
  display: flex;
  gap: 30px;
  .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .text {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-color);
  }
}

.icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--portfolio-bcg-color);
  border-radius: 4px;
}
